{% extends "home.html" %}
{% load staticfiles %}


{% block content %}
    <h3>{{ graph_lst }}</h3>
    <div id="canvas" style="height: 200px; border: 2px solid black;"></div>
    <h3>Матриця інцедентності</h3>
    <ul>
    {% for item in matrix_adjacency_undirected %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
    <h3>Цикл Ейлера</h3>
    {{ cycle_Euler_undirected }}

    <h3>Гамільтовий цикл</h3>
    {% if cycle_Hamiltonian_undirected %}
            <h4> граф має гамільтонів цикл</h4>
    {% else %}
        <h4>Граф не має гамільтоновогу циклу</h4>
    {% endif %}
    <h3> Двочастковість</h3>
    {% if is_Bipartite %}
        <h4> грав Двочастковий</h4>
    {% else %}
        <h4>Граф не Двочастковий</h4>
    {% endif %}

    <script src="{% static 'static/polls/js/mini.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'static/polls/js/jsnetworkx.js' %}"></script>


    <!--<script type ="text/javascript" src="{% static 'static/polls/js/Plswork.js' %}"></script>-->
    <script type="text/javascript">
    var G = new jsnx.Graph();

G.addEdgesFrom({{ graph_lst }});

jsnx.draw(G, {
    element: '#canvas',
    withLabels: true,
    nodeStyle: {
        fill: function (d) {
            return d.data.color;
        }
    },
    labelStyle: {fill: 'white'},
    stickyDrag: true
});
    </script>


{% endblock %}