{% extends "home.html" %}
{% load staticfiles %}


{% block content %}
    <header id="intro">
        <div class="main_block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div style="display: block ; background-color: rgba(255,255,255,0.2)">
                            <h3> Анімація Графа - {{ graph_lst }}</h3>
                            <div id="canvas" style=" height: 500px; border: 2px solid #86e1c7;"></div>
                            <h3>Матриця інцидентості</h3>
                            <table style="width:100%;">
                                {% for item in matrix_incidence_undirected %}
                                    <tr>
                                        {% for num in item %}
                                            <th style="text-align: center">{{ num }}</th>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                            <hr>


                            <h3>Матриця суміжності</h3>
                            <table width="100%">
                                {% for item in matrix_adjacency_undirected %}
                                    <tr>
                                        {% for num in item %}
                                            <th style="text-align: center">{{ num }}</th>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>

                            <hr>
                            <h3>Цикл Ейлера</h3>
                            {{ cycle_Euler_undirected }}
                            <hr>
                            <h3>Гамільтовий цикл</h3>
                            {% if cycle_Hamiltonian_undirected %}
                                <h4> Граф має гамільтонів цикл</h4>
                            {% else %}
                                <h4>Граф не має гамільтоновогу циклу</h4>
                            {% endif %}
                            <hr>
                            <h3> Двочастковість</h3>
                            {% if is_Bipartite %}
                                <h4> Граф Двочастковий</h4>
                            {% else %}
                                <h4>Граф не Двочастковий</h4>
                            {% endif %}
                            <hr>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
    </header>
    </div>
    <script src="{% static 'static/polls/js/mini.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'static/polls/js/jsnetworkx.js' %}"></script>


    <!--<script type ="text/javascript" src="{% static 'static/polls/js/Plswork.js' %}"></script>-->
    <script type="text/javascript">
        var G = new jsnx.Graph();

        G.addEdgesFrom({{ graph_lst }});

        jsnx.draw(G, {
            element: '#canvas',
            withLabels: true,
            nodeStyle: {
                fill: function (d) {
                    return d.data.color;
                }
            },
            labelStyle: {fill: 'white'},
            stickyDrag: true
        });
    </script>


{% endblock %}

