
{% extends "home.html" %}
{% load staticfiles %}


{% block content %}
    <header id="intro" class="ones">
        <div class="main_block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div style="display: block ; background-color: rgba(255,255,255,0.2)">
                            <h3>  Graph: {{ graph_lst }}</h3>
                            <div id="canvas" style=" height: 500px; border: 2px solid #86e1c7;"></div>
                            <h3>Graph type:</h3>
                            <div style="display: inline-block">
                                <h4>Undirected</h4>
                                <h4>{% if parallelEdges %}
                                    Contains parallel edges
                                {% endif %}
                                </h4>
                                <h4>{% if isMulti %}
                                    Multigraph
                                {% endif %}
                                </h4>
                                <h4>{% if isPseudo %}
                                    Pseudograph
                                {% endif %}
                                </h4>
                                <h4>{% if isSimple %}
                                    Simple
                                {% endif %}
                                </h4>
                                <h4>{% if isComplete %}
                                    Complete
                                {% endif %}
                                </h4>
                                <h4>{% if isCycle %}
                                    Cycle
                                {% endif %}
                                </h4>
                                <h4>{% if isWheel %}
                                    Wheel
                                {% endif %}
                                </h4>
                            </div>
                            <hr>
                            <h3>Incidence matrix</h3>
                            <table style="width:100%;">
                                {% for item in matrix_incidence_undirected %}
                                    <tr>
                                        {% for num in item %}
                                            <th style="text-align: center">{{ num }}</th>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                            <hr>


                            <h3>Adjacency matrix</h3>
                            <table width="100%">
                                {% for item in matrix_adjacency_undirected %}
                                    <tr>
                                        {% for num in item %}
                                            <th style="text-align: center">{{ num }}</th>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>

                            <hr>
                            <h3>Euler cycle</h3>
                            {{ cycle_Euler_undirected }}
                            <hr>
                            <h3>Hamiltonian cycle</h3>
                            {% if cycle_Hamiltonian_undirected %}
                                <h4> Hamiltonian cycle is {{ cycle_Hamiltonian_undirected }}</h4>
                            {% else %}
                                <h4>The graph has no Hamiltonian cycle</h4>
                            {% endif %}
                            <hr>
                            <h3>Bipartite</h3>
                            {% if is_Bipartite %}
                                <h4> The graph is bipartite</h4>
                            {% else %}
                                <h4>The graph isn't bipartite</h4>
                            {% endif %}
                            <hr>

</div>
                        <div class="col-lg-2"></div>
                    </div>
                                                    <div class="footer">с.team_ucu
             </div>
                </div>
            </div>
    </header>


    <script src="{% static 'static/polls/js/mini.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'static/polls/js/jsnetworkx.js' %}"></script>

    <script type="text/javascript">
        document.querySelector('#canvas').addEventListener('mousedown', () => { document.documentElement.scrollTop = 0 })
        var G = new jsnx.Graph();

        G.addEdgesFrom({{ graph_lst }});

        jsnx.draw(G, {
            element: '#canvas',
            layoutAttr: {
                charge: -120,
                linkDistance: 150
            },
            nodeAttr: {
                r: 25
            },
            withLabels: true,
            weighted_stroke: true,
            nodeStyle: {
                fill: function (d) {
                    return d.data.color;
                }
            },
            labelStyle: {fill: 'white'},
            stickyDrag: true
        });
    </script>

{% endblock %}

