{% extends "home.html" %}

{% block content %}
    <header id="intro" style="top: 50%;">
        <div class="main_block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <h3>Інструкція
                            <small style="font-weight: boldl; color: black;">типу вводити лише (0,3) (0,4)</small>
                        </h3>
                        <h1 style="color: #fff;">Онлайн Калькулятор</h1>
                        <form method="post" action=".">{% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Підтвердити вершини"
                                   style=" background-color: #fff; font-weight: bold;">
                        </form>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}