{% load static %}
<!DOCTYPE html>
<html>
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- remember, jQuery is completely optional -->
    <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
    <script type='text/javascript' src="{% static 'static/polls/js/jquery.particleground.js' %}"></script>
    <script type='text/javascript' src="{% static 'static/polls/js/demo.js' %}"></script>
    <script type='text/javascript' src="{% static 'static/polls/js/graph.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script type="text/javascript" src="{% static 'static/polls/js/jsnetworkx.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'static/polls/home.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Калькулятор</title>
</head>

<body id="particles">
<div id="bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-size:70px;color: black; font-weight: bold">PyGraphJs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item " style="margin-top: 20px;font-size: 20px;">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item" style="margin-top: 20px;font-size: 20px;">
                    <a class="nav-link" href="#">Підказки</a>
                </li>
                <li class="nav-item" style="margin-top: 20px;font-size: 20px;">
                    <a class="nav-link" href="#">Можливості</a>
                </li>
            </ul>
            <span class="navbar-text" style="float: right">
        <img src="{% static 'static/polls/img/cs_logo-01-1024x468.png' %}" width="100px" height="50px" alt="">
             </span>
        </div>
    </nav>
</div>
{% block content %}{% endblock content %}

<script type="text/javascript" src="{% static 'static/polls/js/jsnetworkx.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'static/polls/js/d3.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
{% block footer %}{% endblock %}
</body>

</html>