*{
	margin:0;
	padding:0;
}
body,html{
	height: 100%;
	width:100%;
}
#welcom{
	text-align: center;
}

#navbar {
	border-top: 1px solid black ;
}
#navbar ul li{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: inline-flex;
	float:left;
	padding: 20px;
	font-size: 20px;
}

footer{
	margin-top: 30%;
	margin-left: -5%
}
@media (max-width: 1200px) {
	#navbar ul li{
			width: 100%;

	}
}
@media (max-width: 1420px) {
	#gr4{
		display: none;
	}
}
@media (max-width: 930px) {
	#gr3{
		display: none;
	}
}
@media (max-width: 560px) {
	#gr2{
		display: none;
	}
}
@media (max-width: 120px) {
	#gr1{
		display: none;
	}
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
